<!-- WITHOUT TRACK BY -->
<div class="app-container">
  <div class="container">
    <h1>No TrackBy Method</h1>
    <p #NoTrackBy class="item" *ngFor='let user of users'>{{ user.userName }}</p>
  </div>
  <div class="container">
    <h1>With TrackBy method</h1>
    <p #WithTrackBy class="item" *ngFor='let user of users; trackBy:trackBy'>{{ user.userName }}</p>
  </div>
</div>

<!-- WITH TRACK BY -->
<div class="button-container">
  <button class="button" (click)="reset()">RESET</button>
  <button class="button" (click)="case1()">CASE 1</button>
  <button class="button" (click)="case2()">CASE 2</button>
  <button class="button" (click)="case3()">CASE 3</button>
  <button class="button" (click)="case4()">CASE 4</button>
  <button class="button" (click)="case5()">CASE 5</button>
  <button class="button" (click)="case6()">CASE 6</button>
  <button class="button" (click)="case7()">CASE 7</button>
</div>

